/*style*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

nav{
height: 80px;
  display: flex;
}
.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 8vh;
  background-color: white;
  color: black;
  margin: 0 auto;
}
.purple{
    color:#7342d6;
    font-weight: bold;
}
.logo{
    width:160px
}
ul{
  display: flex;
  list-style: none;
  margin-right: 20px;
}
li{ 
list-style: none;
margin-right: 20px;
}
.nav__links{
margin-left: 16px;
  text-decoration: none;
  color:#7342d6;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}
.nav__links:hover{
text-decoration: underline;
}
.nav__links--primary{
border: 2px solid #7342d6;
border-radius: 4px;
}
.nav__links--primary:hover{
   text-decoration: none;
}
.landding{
    background-color: rgba(115, 66, 214, 0.1)
}
header{
    height: calc(100vh - 80px);
    display: flex;
    background-color: rgba(115, 66, 214, 0.1)
}
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    color: black;
    flex-direction: column;
    margin: 0 auto;
}
.header__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header__img--wrapper{
    padding: 20px;
    z-index: 2;
}
h1{
    font-size: 56px;
    color: #7342d6;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}
h2{
    font-size: 24px;
    color: #020005;;
    margin-bottom: 24px;
    text-align: center;
}
button{
    cursor: pointer;
}
button:active{
    transform: translateY(1px);
}
.btn{
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.header__imag--wrapper{
    padding : 20px;
    width: 100%;
    max-width: 600px;
}
img{
    width: 100%;
    height: 100%;
    max-height: 50vh;
}
.container {
    padding: 56px 0px;
}
.row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
    .row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .no-cursor{
    cursor: not-allowed;}

/*highlights */
 .highlight__wrapper{
    display: flex;
 }
 .highlight{
    padding: 0 24px;
    width: calc(100%/ 3);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.highlight__para{
    text-align: center;
    max-width: 280px;
}
#highlights {
    position: relative;
    max-width: 100vw;

}
#highlights:before{
    background: url(assets/wave.svg);
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%); 
    top: 1px;
}
#highlights:after{
    background: url(assets/wave.svg);
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__img{
    border: 2px solid #996af7;
    color: #7342d6;        
    width: 100px;
    height: 100px;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;

} 
.highlight__subtitle{
    font-size: 20px;
    color: #020005;
    margin-bottom: 16px;
    text-align: center;
}
.section__title{
    font-size: 32px;
    color: #020005;
    margin-bottom: 24px;
    text-align: center;
}

/*features*/
#features{
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}
.books{
    display: flex;
    flex-wrap: wrap;
}
.book{
    width: 25%;
    padding: 24px;
}
.book__img{
    max-height: 380px;
    transition: all 300ms ease;
    cusor: not-allowed;
}
.book__img--wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}
.book:hover .book__img{
    transform: scale(1.03);
}
.book__title{
    font-size: 20px;
    color: #020005;
    margin-bottom: 8px;
}
.book__title:hover{
    text-decoration: underline;
    cursor: not-allowed;
}
.book__ratings{
    margin-bottom: 8px;
    color: #fabf2a
}
.book__price--normal{
    text-decoration: line-through;
    padding-right: 6px;
    font-size: 16px;
    color: grey;
}
/*explore*/
#explore{
    padding: 56px 0px;
    background-color: rgba(115, 66, 214, 0.1);
}
/*footer*/
footer{
    background-color: #242424;
    padding: 56px 0px;
}
.footer__logo {
    display: flex;
    width: 160px;   
    filter: grayscale(1) invert(1);
}
.footer__link, 
.footer__copyright {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.footer__list{
    margin: 20px 0 24px 0;
}
.footer__link{
    padding: 0 8px;
    color: white;
}

